#container {
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
}

.square {
    border: 0.5px solid black;

}

.button {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 3px;
}

#reset {
    background-color: #e63946;
    color: #f1faee;
    transition: 1s;
    box-shadow: 3px 3px 10px grey;
}

#reset:hover {
    background-color: #f1faee;
    color: #e63946;
}